<!DOCTYPE html>
<html lang="en">
<head>
<title>Home Client</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<link rel="icon" type="image/x-icon" href="/images/elitePic.jpg">
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}
</style>
</head>
<body style="background-image: url('/images/elitePic.jpg');">
<div class="header">
  <h1>ELITE SERVICES</h1>
  <a href="/client/all" class="btn btn-secondary">View Clients</a>
  <a href="/client/register" class="btn btn-secondary">Add Client</a>
</div>

<!-- <div class="content">
  <h1>Content</h1>
  <p>Some content blablabla, some content blablabla.</p>
  <p>Some content blablabla, some content blablabla.</p>
  <p>Some content blablabla, some content blablabla.</p>
</div> -->

</body>
</html>